.message {
    padding: 15px;
    border-width: 0;
    margin-bottom: 15px;
    display: block;
}
.error, .validation {
    color: #ffffff;
    background-color: #dc3545;
}
.good {
    color: #ffffff;
    background-color: #28a745;
}
.button-cancel {
    background-color: #b1b1b1;
    border-color: #989898;
}

td {
    vertical-align: top;
}

.middleColumn .optionset.checkboxset {
    padding-left: 30px;
}
.middleColumn .optionset.checkboxset label {
    font-weight: normal;
}
